---
name: "Linter Workflow"
run-name: Linter check for ${{ github.ref }}
on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  tg-plan:
    name: "Run Super-Linter"
    runs-on: ubuntu-latest
    permissions:
      # contents permission to clone the repository
      contents: read
      packages: read
      # To issues and pull-requests permissions to write results as pull
      # request comments. Omit them if you don't need summary comments
      issues: write
      pull-requests: write
      # To report GitHub Actions status checks. Omit if you don't need
      # to update commit status
      statuses: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
        id: checkout
      - name: Super-Linter
        id: super-linter
        uses: super-linter/super-linter@v8.3.2
        env:
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
